form{
    padding: 0 0 0 3vw;
}

.input-group{
    width: 40%;
}

.drop-container{
    justify-content: left;
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left:0;
}
@media screen and (max-width: 900px){
    
}