form{
    padding: 0 0 0 3vw;
}

.input-group{
    width: 40%;
}

.drop-container{
    justify-content: left;
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left:0;
}
#info{
    background-color: rgba(189, 189, 189, 0.7);
}

#istr-img{
    margin: 5vh 0;
    width: 60%;
    height: auto;
}
@media screen and (max-width: 900px){
    #info{
        padding: 5vh 0;
        background-color: white;
    }
}