html{
    overflow-y:hidden;
}
.input-group-append {
    cursor: pointer;
  }
  
form{
    padding: 5vh 0 0 3vw;
}

.input-group{
    width: 40%;
}

.drop-container{
    justify-content: left;
    display:flex;
    flex-direction: column;
    width:40%;
    margin-left:0;
}
#inst-toggle{
    color:rgb(0, 0, 0);
    border: 1px;
    border-color: rgb(189, 189, 189);
    border-style: solid;
    border-radius: 5px;
    padding-right: 10px;
}
#submit-btn{
    width:fit-content;
    margin: 3vh 0;
}
/* Rental info */
.title{
    padding: 3vh 0;
    text-align: center;
}

.inst-item{
    padding-bottom: 0.5rem;
}
#info{
    background-color: rgba(189, 189, 189, 0.7);
}

#inst-info{
    display: flex;
    align-items: center;
}
#img-container{
    background-color: white;
    border-radius: 15px;
    margin: 0 15%;
    height: 50%;
    display: flex;
    justify-content: center;
}
#inst-img{
    align-self: center;
    height:fit-content;
    width: 60%;
}
@media screen and (max-width: 900px){
    html{
        overflow-y: scroll;
    }

    #inst-info{
        padding: 5vh 0;
        width: 100vw;
    }
    #inst-img{
        height:auto;
        width: 100%;
    }
}